<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.board.model.dao.CalendarDao">
	<resultMap type="Calendar" id="calendarMap">
		<result column="calendar_num" property="num"/>
		<result column="calendar_title" property="title"/>
		<result column="calendar_content" property="content"/>
		<result column="calendar_start" property="start"/>
		<result column="calendar_end" property="end"/>
		<result column="user_num" property="userNum"/>
	</resultMap>
	
	<insert id="insertCal" parameterType="calendar" keyProperty="num" useGeneratedKeys="true">
		INSERT INTO calendar (calendar_title, calendar_content, calendar_start, calendar_end, user_num)
		VALUES (#{title}, #{content}, #{start}, #{end}, #{userNum})
	</insert>
	
	<select id="selectOne">
		SELECT *
		FROM calendar
		WHERE calendar_num = #{id};
	</select>
	
	<select id="selectList">
		SELECT *
		FROM calendar
		WHERE user_num = #{userNum};
	</select>
	
	<update id="updateCal" parameterType="calendar">
		UPDATE calendar
		SET calendar_title = #{title}, calendar_content = #{content}, calendar_start = #{start}, calendar_end = #{end}
		WHERE calendar_num = #{num};
	</update>
	
	<delete id="deleteCal" parameterType="int">
		DELETE FROM calendar
		WHERE calendar_num = #{num}
	</delete>
</mapper>