<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.board.model.dao.WishDao">

	<insert id="insertWish" parameterType="Wish" keyProperty="num" useGeneratedKeys="true">
		INSERT INTO wish (video_num, wish_writer) 
		VALUES (#{videonum}, #{writer})
	</insert>

	<delete id="deleteWish" parameterType="int">
		DELETE FROM wish
		WHERE wish_num = #{num}
	</delete>
	
	<!-- 검색기능  -->
	<select id="wishSearch" resultType="Wish" parameterType="int">
		SELECT wish_num as num, video_num as videonum, wish_writer as writer FROM wish
		Where wish_writer = #{writer}
		ORDER BY wish_num DESC
	</select>

</mapper>